@model List<TomsFishLog.Models.FishModels.Fish>

<table>
    <thead>
        <tr>
            <td>Species</td>
            <td>Location</td>
            <td>Length</td>
            <td>Weight</td>
            <td>Date Entered</td>
        </tr>
    </thead>
    @foreach (var m in Model)
    {
        <tr>
            <td>@m.strSpecies</td>
            <td>@m.strLocation</td>
            <td>@m.decLenthInches</td>
            <td>@m.decWeightLbs</td>
            <td>@m.dteDateTimeEntered.ToShortDateString() @m.dteDateTimeEntered.ToShortTimeString()</td>
        </tr>
    }
</table>
   